:root {
  --background-color: #e6e6e6; /* Slightly less bright */
  --text-color: #333;
  --navbar-background-color: #333;
  --navbar-text-color: #fff;
  --button-background-color: #76b900;
  --button-text-color: #fff;
  --container-background-color: #fff;
  --link-color: #0000ee;
  --border-color: #ddd;
  --dropdown-background-color: #f9f9f9;
  --dropdown-text-color: #333;
  --error-color: #ff4d4d; /* Error messages in red */
  --success-color: #4caf50; /* Green for success messages */
}
.dark-theme {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --navbar-background-color: #333333;
  --navbar-text-color: #ffffff;
  --button-background-color: #76b900;
  --button-text-color: #ffffff;
  --container-background-color: #333;
  --link-color: #bb86fc;
  --border-color: #333;
  --dropdown-background-color: #2c2c2c;
  --dropdown-text-color: #ccc;
}
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.wrapper, .navbar, .container, .footer {
  width: 100%; 
  max-width: 1600px; 
  margin: auto; 
}

.navbar, .footer {
  background-color: var(--navbar-background-color);
  color: var(--navbar-text-color);
  padding: 20px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  background-color: var(--container-background-color);
  color: var(--text-color);
  padding: 20px; 
  margin: 20px 0; 
  flex-grow: 1;
}

.footer {
  background-color: var(--navbar-background-color);
  color: var(--navbar-text-color);
  padding:20px; /* Consistent padding with navbar */
  border-top: 1px solid var(--border-color); /* Optional border */
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--navbar-background-color);
  color: var(--navbar-text-color);
  padding: 10px 50px;
  width: 100%;
  min-height: 70px;
  border-radius: 10px;
}
.navbar .logo i {
  margin-right: 10px;
  color: var(--button-background-color);
}
/* Logo rotation on hover */
.logo i:hover {
  animation: rotateLogoHover 1s ease-in-out;
}

@keyframes rotateLogoHover {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar .nav-links a,
.theme-toggle {
  color: var(--navbar-text-color);
  text-decoration: none;
  margin-left: 20px;
  cursor: pointer;
}
.search-container,
.container {
  text-align: center;
  background-color: var(--container-background-color);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: auto;
  display: none;
  min-height: 400px;
}
.search-box,
.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
}
.search-button,
.clear-button,
.btn {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transform: scale(0.98);
}
.search-button:hover,
.btn:hover {
  background-color: #5a8e00;
}
.active {
  display: block;
}
.search-results {
  text-align: left;
  max-width: 100%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--container-background-color);
}

.search-results a {
  display: block;
  color: var(--link-color);
  padding: 0.8em;
  border-radius: 4px;
  transition: background-color 0.15s ease-in-out;
  text-decoration: none;
  margin-bottom: 5px;
}
.search-results a:hover {
  background-color: #9ae8af;
  border-radius: 17px;
}
.result-title {
  font-weight: bold;
}
.no-results {
  color: var(--text-color);
}

.navbar .nav-links a,
.navbar .nav-links .dropbtn,
.theme-toggle {
  color: var(--navbar-text-color);
  text-decoration: none;
  margin-left: 30px; 
  font-weight: bold; 
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.containerlogo {  
  width: 200px; 
  margin: 0 auto; 
  display: block;
  position: relative;
  top: -20px; 
  left: 50%; 
  transform: translateX(-50%); 
  cursor: pointer;
  

}

.top-image {
  width: 200px; 
  margin: 0 auto; 
  display: block;

}
.text-logo {
  font-size: 35px;
  font-weight: bold; 
  color: rgb(68, 248, 68);
  position: relative;
  top: -120px; 
  left: 50%; 
  transform: translateX(-50%); 
  text-shadow: -1px -1px 0 #000,  
               2px -1px 0 #000,
              -1px 1px 0 #000,
               2px 2px 0 #000; 
  cursor: pointer;
  transition: transform 0.3s, font-size 0.3s;
}
.text-logo:hover {
  font-size: 37px; 

}



/* Cool animation effect for hover */
.navbar .nav-links a::after,
.navbar .nav-links .dropbtn::after,
.theme-toggle::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--button-background-color);
  transition: width 0.3s ease;
  transition-duration: 0.3s;
  bottom: -5px;
}

.navbar .nav-links a:hover::after,
.navbar .nav-links .dropbtn:hover::after,
.theme-toggle:hover::after {
  width: 100%;
  left: 0;
  background: var(--button-background-color);
}

.navbar .nav-links a:hover,
.navbar .nav-links .dropbtn:hover,
.theme-toggle:hover {
  color: var(--button-background-color);
}

/* Additional styles for dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dropdown-background-color);
  min-width: 180px;
  min-height: 100px;
  padding-top: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
:root .dropdown-content a {
  color: black; /* Set the default color for light mode */
}

.dark-theme .dropdown-content a {
  color: white; /* Set the color for dark mode */
}
.dropdown-content a {
  color: var(--dropdown-text-color);
  text-decoration: none;
  padding: 12px 0px;
  display: block;
  transition: background-color 0.2s ease-in-out;
}
.dropdown-content a:last-child {
  border-bottom: none;
}
.dropdown-content a:hover {
  color: var(--button-text-color);
}
.dropdown:hover .dropdown-content {
  display: block;
}
/*End of dropdown*/

/* Styles for the admin page */
.editIndexPage-container {
  background-color: var(--navbar-background-color); /* NVIDIA green background */
  color: var(--navbar-text-color); /* White text for contrast */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.editIndexPage-container input[type="text"],
.editIndexPage-container input[type="number"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--container-background-color);
  color: var(--text-color);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Inset shadow for depth */
}

.editIndexPage-container button,
.docs-table .edit-btn,
.docs-table .remove-btn {
  padding: 6px 12px;
  margin-right: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s; /* Smooth transition for visual feedback */
  display: inline-block;
}

.editIndexPage-container button {
  background-color: var(--button-background-color); /* Primary button color */
  color: var(--button-text-color); /* White text */
}

.editIndexPage-container button:hover {
  background-color: darken(var(--button-background-color), 10%); /* Darker on hover */
  transform: translateY(-2px); /* Lift effect */
}

h2 {
  color: var(--button-background-color); /* Utilize the NVIDIA green for heading text */
  text-align: center; /* Center-align the headings for a balanced look */
  font-weight: bold; /* Ensure the headings are bold */
  margin: 20px 0; /* Add some margin for spacing */
  font-size: 1.5rem; /* Slightly larger font size for emphasis */
  text-transform: uppercase; /* NVIDIA often uses uppercase text for titles to add a sense of importance and readability */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5); /* Add a subtle shadow for a 3D effect, enhancing the futuristic vibe */
}

.docs-table .edit-btn {
  background-color: #4CAF50; /* Edit button green */
  color: white;
}

.docs-table .remove-btn {
  background-color: #F44336; /* Remove button red */
  color: white;
}

.docs-table .edit-btn:hover,
.docs-table .remove-btn:hover {
  opacity: 0.8;
}

.docs-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Space above table */
}

.docs-table th,
.docs-table td {
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: left;
}

.docs-table th {
  background-color: var(--navbar-background-color);
  color: var(--navbar-text-color);
}

.docs-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.docs-table td {
  background-color: var(--container-background-color);
  color: var(--text-color);
  
}

/* Feedback messages */
.success, .error {
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
}

.success {
  background-color: var(--success-color); /* Success green */
  color: white;
}

.error {
  background-color: var(--error-color); /* Error red */
  color: white;
}

/* Editable cell styles */
.editable[contenteditable="true"] {
  background-color: #fafafa;
  border: 1px dashed #ccc;
  padding: 5px;
}

/* Enhancing the edit controls */
.edit-controls {
  display: flex;
  justify-content: space-between; /* Space between control buttons */
  margin-top: 20px;
}


/* End admin page styles */





/* Styles for the footer */
.footer {
  background-color: var(--navbar-background-color);
  color: var(--navbar-text-color);
  padding: 20px;
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-top: 64px; /* Additional margin at the top */
  width: 100%;
}
.footer-options button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.footer-options button:hover {
  background-color: #5a8e00;
}
.copyright {
  text-align: left; /* Align the copyright text to the left */
  flex-grow: 1;
  margin-right: 20px; /* Add some margin to separate it from the buttons */
}

.stats-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--container-background-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.stats-list p {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.stats-header {
  color: var(--text-color);
}
/* Enhance the visual cue for the term with the most links */
#termMostLinks {
  font-weight: bold;
  background-color: var(--button-background-color);
  color: var(--container-background-color);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-out;
}

/* Pagination Styles */
#pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#pagination button {
  background-color: var(--button-background-color); /* Nvidia green */
  color: var(--button-text-color); /* White */
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#pagination button:hover {
  background-color: #3e5517; /* Darker green */
  transform: translateY(-2px); /* Slight lift */
}

#pagination button:active {
  background-color: #591919;
  transform: translateY(2px); /* Push effect */
}

/* Adjusting the select dropdown to match the Nvidia theme */

#linksPerPageContainer {
  display: none; /* Initially hide the container */
  text-align: center; /* Align the text to the right */
}

#linksPerPage {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  margin-top: 20px;
  background-color: var(--navbar-background-color); /* Matching navbar color */
  color: var(--navbar-text-color); /* White text */
  cursor: pointer;
}

/* Hover effect for select dropdown */
#linksPerPage:hover {
  background-color: #2c2c2c; /* Slightly lighter than navbar */
}

/* Edit style */
.results-container {
  margin-top: 20px;
}
.doc {
  background-color: rgb(250, 250, 255);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
}
.doc:hover {
  .doc-term { color: #170d37; }
}
.doc-title {
  color: #007bff;
  font-size: 18px;
  margin-bottom: 5px;
}
.doc-occurrences {
  color: #6c757d;
  margin-top: 5px;
}
.doc-url {
  color: #6c757d;
}
.doc-term {
  font-weight: bold;
  color: #28a745;
}

.activebtn {
  background-color: #007bff;
}

/* Statistics Style */
#statsContainer table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5em;
  margin-top: 5em;
}
#statsContainer th, #statsContainer td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}
#statsContainer tr:nth-child(even) {
  background-color: #f2f2f2;
  color: black;
}
#statsContainer th {
  background-color: var(--navbar-background-color);
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
}
#chartContainer {
  display: flex;
  height: 20em;
  justify-content: space-around;
}
.chartWrapper {
  flex: 1;
  padding: 10px; 
}

/* ********** Chatbot ********** */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 100%;
  background: #F1F1F1;
}

*, html {
  --primaryGradient: linear-gradient(93.12deg, #5a8e00 0.52%, #76b900 100%);
  --secondaryGradient: linear-gradient(268.91deg, #5a8e00 -2.14%, #76b900 99.69%);
  --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
  --primary: #5a8e00;
}

/* CHATBOX
=============== */
.chatbox {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
  display: flex;
  flex-direction: column;
  background: #eee;
  width: 300px;
  height: 350px;
  z-index: -123456;
  opacity: 0;
  transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
  transform: translateY(-40px);
  z-index: 123456;
  opacity: 1;

}

/* BUTTON */
.chatbox__button {
  text-align: right;
}

.send__button {
  padding: 6px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}


/* HEADER */
.chatbox__header {
  position: sticky;
  top: 0;
  background: orange;
}

/* MESSAGES */
.chatbox__messages {
  margin-top: auto;
  display: flex;
  overflow-y: scroll;
  flex-direction: column-reverse;
}

.messages__item {
  background: orange;
  max-width: 60.6%;
  width: fit-content;
}

.messages__item--operator {
  margin-left: auto;
}

.messages__item--visitor {
  margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
  position: sticky;
  bottom: 0;
}

.chatbox__support {
  background: #f9f9f9;
  height: 450px;
  width: 350px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
  background: var(--primaryGradient);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
  margin-right: 10px;
}

.chatbox__heading--header {
  font-size: 1.2rem;
  color: white;
}

.chatbox__description--header {
  font-size: .9rem;
  color: white;
}

/* Messages */
.chatbox__messages {
  padding: 0 20px;
}

.messages__item {
  margin-top: 10px;
  background: #E0E0E0;
  padding: 8px 12px;
  max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.messages__item--operator {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: var(--primary);
  color: white;
}

/* FOOTER */
.chatbox__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background: var(--secondaryGradient);
  box-shadow: var(--secondaryBoxShadow);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 20px;
}

.chatbox__footer input {
  width: 80%;
  border: none;
  padding: 10px 10px;
  border-radius: 30px;
  text-align: left;
}

.chatbox__send--footer {
  color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
  padding: 10px;
  background: white;
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.left-link {
  margin-right: auto; /* Set right margin to auto to push it to the left */
}


.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}